/*
* CURRENT IN USE
*/

#root > div > div > nav {
    background: #000;
    border-radius: 0px;
    border: none;
}

.navbar .container span.icon-bar {
    background: #fff;
}

.navbar .container .navbar-collapse .navbar-nav a {
    color: white;
}

#main-navbar > ul > li.dropdown a:hover,
#main-navbar > ul > li a:hover,
#main-navbar > ul > li a:focus,
#main-navbar > ul > li.active 
{
    background: orangered;
}
#main-navbar > ul > li.dropdown a,
#main-navbar > ul > li.dropdown.open > ul {
    background: #000;
}

#main-navbar > ul > li.dropdown > ul > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media only screen and (min-width: 768px) {
    #main-navbar > ul li a:visited .dropdown-menu{
        display: none;
    }
    
    #main-navbar>ul>li:hover .dropdown-menu {
        display: inline-block;
        background: #000;
    }

    #root > div > div > nav > div, #main-navbar {
        padding: 0px
    }
}