div.navigation {
    margin: 0;
    padding: 0;
    background-color: orangered;
    align-content: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.navigation {
    margin: 0 auto;
}

ul.navigation>li {
    float: left;
    border-right: 1px solid white;
}

ul.navigation>li:last-child {
    border-right: none;
}

ul.navigation li a {
    color: white;
    display: block;
    padding: 12px 20px;
    text-decoration: none;
}

ul.detailmenu {
    display: none;
    background-color: orangered;
    position: absolute;
    text-align: left;
    z-index: 2
}

ul.navigation>li:hover ul.detailmenu {
    display: block;
}

ul.navigation li a:hover {
    background-color: black;
}