ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.carousel, .slide, .advertisement, .input-group {
    margin: 10px 0;
}

.require-label:after {
	color: red;
	content: " *";
}
